body {
    background: #336BFF;
    background: -webkit-linear-gradient(aliceBlue, royalBlue);
    background: -o-linear-gradient(aliceBlue, royalBlue);
    background: -moz-linear-gradient(aliceBlue, royalBlue);
    background: linear-gradient(aliceBlue, royalBlue);
}

div {

}
h1, h2 {
    text-align: center;
    color: white;
    font-family: Georgia;

}


h4 {
    color: white;
    text-align: center;
    font-family: Verdana;
}


p {
    font-family: Trebuchet;
    font-size: 20px;
    margin-right: 130px;
    margin-left: 70px;
}

button {
    background-color: #123456;
    color: white;
    font-family: Verdana;
    padding: 10px 24px;
    border-radius: 12px;
}
