body {
    background: blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(blue, aliceBlue);
    background: -o-linear-gradient(blue, aliceBlue);
    background: -moz-linear-gradient(blue, aliceBlue);
    background: linear-gradient(blue, aliceBlue); 
}
}

h1, h2 {
    color: white;
    text-align: center;
    font-family: Georgia
}

h4 {
    color: white;
    text-align: center;
    font-family: Verdana;
}


p {
    font-family: garamond;
    font-size: 20px;
}
